<link rel="import" href="../material-colors/colors.html">

<template>
    <style>
        :host {
            --material-appbar-text-color: white;
            --material-appbar-background-color: var(--material-blue-800);
        }
        
        .appbar {
            box-sizing: border-box;
            background-color: var(--material-appbar-background-color);
            width: 100%;
            height: 56px;
            display: flex;
            flex-direction: row;
            color: var(--material-appbar-text-color);
            align-items: center;
        }
        
        .appbar * {
            box-sizing: border-box;
        }
        
        ::slotted(button) {
            border: none;
            height: 100%;
            min-width: 48px;
            background: none;
            color: var(--material-appbar-text-color);
        }
        
        .title {
            font-weight: 600;
            font-size: 1.5rem;
            margin-left: 16px;
        }
        
        .actions {
            height: 100%;
            margin-left: auto;
        }
    </style>
    
    <div class="appbar">
        <slot name="drawer-toggle"></slot>
        <span class="title"><slot name="title"></slot></span>
        <div class="actions">
            <slot name="actions"></slot>    
        </div>
    </div>
</template>

<script>
    (function(window, document, undefined) {
        const thisDoc = (document._currentScript || document.currentScript).ownerDocument;
        const template = thisDoc.querySelector('template').content;
        
        class Appbar extends HTMLElement {
            createdCallback() {
                const clone = document.importNode(template, true);
                this.attachShadow({mode: 'open'}).appendChild(clone);
            }
            attachedCallback() {}
            detachedCallback() {}
            attributeChangedCallback(attr, oldVal, newVal) {}
        }
        
        document.registerElement('material-appbar', Appbar);
        
    }(window, document, undefined));
</script>
